{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
    <div style='margin:50px;'>
        <form method="get" style="margin-bottom: 20px;">
            {{ form.as_p }}
            <button type="submit">Filter</button>
        </form>
        {% if tasks %}
            {% for task in tasks %}
            <div style="margin-bottom: 1em;">
                <a href="{% url 'task:task_detail' task.id %}">{{ task.title }}</a><br>
                Time: {{ task.start_time }} to {{ task.end_time }}<br>
                Support needed: {{ task.work_area.all|join:", " }}<br>
                Volunteer Number: {{ task.vol_number }}<br>
            </div> 
            {% endfor %}
        {% else %}
            <p>There are currently no tasks available for application.</p>
        {% endif %}
    </div>
{% endblock %}