{% extends "base.html" %}

{% block title %}Task Detail{% endblock %}

{% block content %}
    <div style='margin:50px;'>
        <p>任务详情，病人和志愿者会看到不同的按钮</p>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p>Time: {{ task.start_time }} - {{ task.end_time }}</p>
        <p>Volunteer needed: {{ task.volunteer_needed }}</p>
        <p>Status: {{ task.get_status_display }}</p>

        {% if is_client %}
            <a href="{% url 'task:task_application' task.id %}">View applied volunteers</a>
        {% elif has_applied %}
            <p>You have applied. Application status:{{ application_status }}</p>
        {% else %}
            <form method="post" action="{% url 'task:task:task_apply' task.id %}">
                {% csrf_token %}
                <button type="submit">Application for this task</button>
            </form>
        {% endif %}
    </div>
{% endblock %}