# for AWS
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here

# for database
DJANGO_DEVELOPMENT=1
DATABASE_URL=postgresql://username:password@localhost:5432/dbname

# for send email
EMAIL_BACKEND=your_email_backend_here
EMAIL_HOST=your_email_host_here
EMAIL_PORT=your_email_port_here
EMAIL_USE_TLS=True
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=your_email_host_password_here
DEFAULT_FROM_EMAIL=your_default_form_email_here

# Stripe Configuration (Add these for donation functionality)
STRIPE_PUBLIC_KEY=your_stripe_public_key_here
STRIPE_SECRET_KEY=your_stripe_secrey_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secrey_here