{% extends "base.html" %}

{% block title %}Client Registeration{% endblock %}

{% block content %}

<h2>Register as Client</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="id_first_name">First Name:</label><br>
    {{ form.first_name }}<br><br>

    <label for="id_last_name">Last Name:</label><br>
    {{ form.last_name }}<br><br>

    <label for="id_email">Email:</label><br>
    {{ form.email }}<br><br>

    <label for="id_phone_number">Phone Number:</label><br>
    {{ form.phone_number }}<br><br>

    <label for="id_contact_method">Preferred Contact Method:</label><br>
    {{ form.contact_method }}<br><br>

    <label for="id_password1">Password:</label><br>
    {{ form.password1 }}<br><br>

    <label for="id_password2">Confirm Password:</label><br>
    {{ form.password2 }}<br><br>

    <label for="id_certifications">Certifications you have:</label><br>
    <input type="checkbox" name="certifications" value="pip"> PIP <br>
    <input type="checkbox" name="certifications" value="adp"> ADP <br>
    <input type="checkbox" name="certifications" value="lwc"> LWC <br><br>

    <input type="submit" value="Register">
</form>

{% endblock %}
