{% extends "base.html" %}

{% block title %}Profile Detail{% endblock %}

{% block content %}
    <div style='margin:50px;margin-left:200px;'>
        <h1>Hello {{ user_profile.first_name }}</h1>
        <p>Thanks for using Shallion as a {{ user.role }}!</p>
        <p><a href="{% url 'user:logout' %}">Log Out</a></p>
    </div>
    <div style='margin:50px;margin-left:200px;'>
        {% if user_profile.profile_photo %}
            <p><strong>Your Profile Photo:</strong></p>
            <p><img src="{{ user_profile.profile_photo.url }}" alt="Your Profile Photo" width="200"></p>
            <p><a href="{% url 'user:photo_edit' %}">Change Your Photo</a></p>
        {% else %}
            <p><strong>Your Profile Photo:</strong></p>
            <p>You have not uploaded any photos yet!</p>
            <p><a href="{% url 'user:photo_edit' %}">Upload Your Photo</a></p>
        {% endif %}
    </div>
    <div style='margin:50px;margin-left:200px;'>
        <h3>Your Basis Personal Information:</h3>
        <p><strong>email:</strong> {{ user.email }}</p>
        {% for key, value in user_fields.items %}
            {% if key != 'id' and key != 'user' and key != 'profile_photo' and key != 'consent_safeguard'%}
                <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div style='margin:50px;margin-left:200px;'>
        {% if user.role == 'client' %}
            <p><a href="{% url 'user:client_profile_edit' %}">Edit Your Information</a></p>
        {% elif user.role == 'volunteer' %}
            <p><a href="{% url 'user:volunteer_profile_edit' %}">Edit Your Information</a></p>
        {% endif %}
    </div>
    <div style='margin:50px;margin-left:200px;'>
        <h3>Your Other Personal Information:</h3>
        {% if user.role == 'client' %}
            {% with has_pets=client_fields.has_pets %}
            {% for key, value in client_fields.items %}
                {% if key == 'preferred_times' %}
                    <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }} 
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#preferredTimesModal">Edit</button>
                    </p>
                {% endif %}
                {% if key == 'pets_type' %}
                    {% if has_pets %}
                        <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                    {% endif %}
                {% elif key == 'pip_certificate' %}
                    {% if has_pip_cert %}
                        <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                    {% endif %}
                {% elif key == 'adp_certificate' %}
                    {% if has_adp_cert %}
                        <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                    {% endif %}
                {% elif key == 'lwc_certificate' %}
                    {% if has_lwc_cert %}
                        <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                    {% endif %}
                {% elif key != 'id' and key != 'user_profile' and key != 'preferred_times' %}
                    <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                {% endif %}
            {% endfor %}
            {% endwith %}
        {% elif user.role == 'volunteer' %}
            {% for key, value in volunteer_fields.items %}
                {% if key == 'availability' %}
                    <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }} 
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#preferredTimesModal">Edit</button>
                    </p>
                {% elif key != 'id' and key != 'user_profile' %}
                    <p><strong>{{ key }}:</strong> {{ value|default:'(Unfilled)' }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% include "user/preferred_times_modal.html" %}

{% endblock %}
