{% extends "base.html" %}

{% block title %}Volunteer Registeration{% endblock %}

{% block content %}
    <div style='margin:50px;margin-left:200px;'>
        <h2>Register as a Volunteer</h2>
        <p><a href="{% url 'user:choose_role' %}">Go Back</a></p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="id_email"><strong>1. Please enter your email:</strong></label><br>
            {{ form.email }}<br>
            {{ form.email.errors }}<br><br>

            <label for="id_first_name"><strong>2. Please enter your first name:</strong></label><br>
            {{ form.first_name }}<br>
            {{ form.first_name.errors }}<br><br>

            <label for="id_last_name"><strong>3. Please enter your last name:</strong></label><br>
            {{ form.last_name }}<br>
            {{ form.last_name.errors }}<br><br>

            <label for="id_password1"><strong>4. Please set your password:</strong></label><br>
            {{ form.password1 }}<br><br>
            <span>Please note that passwords should follow the rules below:</span><br>
            <ul>
                <li>The password should be at least eight digits.</li>
                <li>The password should not be too similar to your other information.</li>
                <li>The password should not be all numbers.</li>
                <li>The password should not be too simple.</li>
            </ul>
            {{ form.password1.errors }}<br>

            <label for="id_password2"><strong>5. Please confirm your password:</strong></label><br>
            {{ form.password2 }}<br>
            <span>Please make sure you enter the same password twice.</span><br>
            {{ form.password2.errors }}<br><br>

            <label for="id_phone_number"><strong>6. Please enter your phone number:</strong></label><br>
            {{ form.phone_number }}<br>
            {{ form.phone_number.errors }}<br><br>

            <label for="id_university_course"><strong>7. Please enter your university and major:</strong></label><br>
            {{ form.university_course }}<br>
            {{ form.university_course.errors }}<br><br>

            <label for="id_profession"><strong>8. Please enter your profession:</strong></label><br>
            {{ form.profession }}<br>
            {{ form.profession.errors }}<br><br>

            <strong>9. {{form.is_for_credit.label_tag}}</strong><br>
            {{ form.is_for_credit }}<br>
            {{ form.is_for_credit.errors }}<br><br>

            <strong>{{form.consent_safeguard.label_tag}}</strong>{{ form.consent_safeguard }}<br><br>

            <input type="submit" value="Register">
        </form>

        {% comment %} <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form> {% endcomment %}

    </div>

{% endblock %}
