{% extends 'adminpanel/admin_base.html' %}
{% load static %}

{% block title %}Admin Homepage{% endblock %}

{% block content %}
    <div style="margin: 50px;">
        <h1>Admin Control Panel</h1>
        <hr>
        <div style="display: flex; gap: 40px; margin-top: 30px;">
            <div style="background-color: #f0f8ff; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
                <h3>Client</h3>
                <p style="font-size: 2em; font-weight: bold;">{{ client_count }}</p>
            </div>
            <div style="background-color: #ffe4e1; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
                <h3>Volunteer</h3>
                <p style="font-size: 2em; font-weight: bold;">{{ volunteer_count }}</p>
            </div>
            <div style="background-color: #fff9e1ff; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
                <h3>Task</h3>
                <p style="font-size: 2em; font-weight: bold;">{{ task_count }}</p>
            </div>
            <div style="background-color: #e1fff0ff; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
                <h3>Today's new task</h3>
                <p style="font-size: 2em; font-weight: bold;">{{ today_task_count }}</p>
            </div>
        </div>
    </div>
{% endblock %}
