{% extends 'adminpanel/admin_base.html' %}
{% load static %}

{% block title %}User details{% endblock %}

{% block content %}
    <div style="margin: 50px;">
        <div>
            <h1>User details</h1>
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Name:</strong> {{ user.userprofile.get_full_name }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
            <p><strong>Activated or not:</strong> {{ user.is_active }}</p>
            <p><strong>Age:</strong> {{ user.userprofile.age|default:"unfilled" }}</p>
            <p><strong>Gender:</strong> {{ user.userprofile.gender|default:"unfilled" }}</p>
            <p><strong>Phone Number:</strong> {{ user.userprofile.phone_number|default:"unfilled" }}</p>
            <p><strong>Location:</strong> {{ user.userprofile.location }}</p>
            <p><strong>Photo:</strong></p>
            {% if user.userprofile.profile_photo %}
                <p><img src="{{ user.userprofile.profile_photo.url }}" alt="Profile Photo" width="200"></p>
            {% else %}
                <p>No photos</p>
            {% endif %}
            <p><strong>Emergency Contact:</strong> {{ user.userprofile.emergency_contact|default:"unfilled" }}</p>
        </div>
        <div>
            {% if user.role == 'client' %}
                <h2>User's Task</h2>
                {% for task in tasks %}
                    <p><strong>Title:</strong> {{ task.title }}</p>
                    <p><strong>Status:</strong> {{ task.status }}</p>
                    <p><strong>Created At:</strong> {{ task.created_at }}</p>
                    <p><strong>Detail:</strong> <a href="{% url 'adminpanel:task_detail' task.id %}">check out</a></p>
                {% endfor %}
            {% elif user.role == 'volunteer' %}
                <h2>User's Application</h2>
                {% for app in applications %}
                    <p><strong>Task:</strong> <a href="{% url 'adminpanel:task_detail' app.task.id %}">{{ app.task.title }}</a></p>
                    <p><strong>Status:</strong> {{ app.status }}</p>
                    <p><strong>Apply At:</strong> {{ app.applied_at }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <h2>Stars</h2>
            <h3>Stars Given</h3>
            {% if give_stars %}
                {% for star in give_stars %}
                    <p><strong>To:</strong> {{star.to_user}} -- <strong>Time:</strong> {{star.starred_at}}</p>
                {% endfor %}
            {% else  %}
                <p>This user has not given any stars.</p>
            {% endif %}
            <h3>Stars Received</h3>
            {% if have_stars %}
                {% for star in have_stars %}
                    <p><strong>From:</strong> {{star.from_user}} -- <strong>Time:</strong> {{star.starred_at}}</p>
                {% endfor %}
            {% else  %}
                <p>This user has not received any stars.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}