{% extends 'adminpanel/admin_base.html' %}
{% load static %}

{% block title %}User List{% endblock %}

{% block content %}
    <div style="margin: 50px;">
        <h2>User List</h2>

        <table border="1" cellpadding="8" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Detail</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.get_full_name }}</td>
                <td>{{ user.role }}</td>
                <td><a href="{% url 'adminpanel:user_detail' user.id %}">see details</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}